<div class="row foot">
<div class="col-md-2"></div>
	<div class="col-md-5">
	<%= image_tag('title.png', class: "foot-img") %>
		<p style="color:#7D919B;margin-top:2%;text-shadow: 0 0 0 #C09A67,0 0 0 #E8837E;">
			Get all at one place, we deal in bookings of Preists <br />
			for religious ceremonies or wedding plus Banquets,<br /> 
			Hotels, Tent vendors, Catering and more+..  
		</p>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-1">
		<ul><p style="color:#3C5460;font-weight:bold;">About</p>
		<li>Something</li>
		<li>Ptani</li>
		<li>KuchBhi</li>
		<li>Aive</li>
		</ul>
	</div>
	<div class="col-md-1">
		<ul><p style="color:#3C5460;font-weight:bold;">Products</p>
		<li>Something</li>
		<li>Ptani</li>
		<li>KuchBhi</li>
		<li>Aive</li>
		<li>Ekoradd</li>
		<li>Blabla</li>
		</ul>
	</div>
	<div class="col-md-1">
			<ul><p style="color:#3C5460;font-weight:bold;">Other</p>
		<li>KuchBhi</li>
		<li>Aive</li>
		<li>Blabla</li>
		</ul>
	</div>
	<div class="col-md-1"></div>
</div> 
<br /> <p style="font-size:10px;text-align:center;">&copy;2015 CodeDis. All Rights Reserved _ <a href="https://www.codedis.com"> www.codedis.com</a></p>
