<div class="sideBar pull-left noselect">
	<div class="logoHolder"><%= image_tag('logo.png', class: "logo") %></div>
	<div class="sideMenu">
		<p class="m1"><span class="glyphicon glyphicon-list-alt"></span><br />SomeMenu1</p>
		<p class="m2"><span class="glyphicon glyphicon-blackboard"></span><br />SomeMenu2</p>
		<p class="m3"><span class="glyphicon glyphicon-picture"></span><br />SomeMenu3</p>
		<p class="m4"><span class="glyphicon glyphicon-road"></span><br />SomeMenu4</p>
		<p class="m5"><span class="glyphicon glyphicon-off"></span><br />SomeMenu5</p>
	</div>
</div>


